/* src/components/Resume.css */

.resume-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.resume-pdf {
  width: 100%;
  height: 100vh; /* Adjust height as needed */
  border: none;
}

